<div id="edit-book-form">
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="bookService.model.title">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Background story</mat-label>
    <textarea matInput [(ngModel)]="bookService.model.backgroundStory"></textarea>
  </mat-form-field>

  <mat-tab-group>
    <mat-tab label="Statistics">
      <div class="stat_container">
        <div class="stat">
          <div class="stat_name">Number of chapters:</div>
          <div class="stat_value">{{ bookService.model.chapters.length }}</div>
        </div>
        <div class="stat">
          <div class="stat_name">Number of scenes:</div>
          <div class="stat_value">{{ bookService.model.scenes.length }}</div>
        </div>
        <div class="stat">
          <div class="stat_name">Number of path:</div>
          <div class="stat_value">{{ bookService.model.relations.length }}</div>
        </div>
        <div class="stat">
          <div class="stat_name">Number of branches:</div>
          <div class="stat_value">{{ bookService.getNumberOfBranches() }}</div>
        </div>
        <div class="stat">
          <div class="stat_name">Number of items:</div>
          <div class="stat_value">{{ bookService.model.items.length }}</div>
        </div>
        <div class="stat">
          <div class="stat_name">Number of characters:</div>
          <div class="stat_value">{{ bookService.model.characters.length }}</div>
        </div>
        <div class="stat">
          <div class="stat_name">Number of winner scenes:</div>
          <div class="stat_value">{{ bookService.getNumberOfWinners() }}</div>
        </div>
        <div class="stat">
          <div class="stat_name">Number of looser scenes:</div>
          <div class="stat_value">{{ bookService.getNumberOfLooser() }}</div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Configuration">
      <div class="configuration_container">
        <div class="configuration_container_child">
          <h3>Editor</h3>
          <mat-slide-toggle [color]="'primary'" [(ngModel)]="bookService.model.showChapters"
                            *ngIf="bookService.model.chapters.length" (change)="changePlugin()">
            Show chapters
          </mat-slide-toggle>
          <mat-slide-toggle [color]="'primary'" [(ngModel)]="bookService.model.mortality" (change)="changePlugin()">
            Mortality
          </mat-slide-toggle>
          <mat-slide-toggle [color]="'primary'" [(ngModel)]="bookService.model.charactersChapter">
            Characters chapter
          </mat-slide-toggle>
          <mat-slide-toggle [color]="'primary'" [(ngModel)]="bookService.model.questionnaire">
            Questionnaire
          </mat-slide-toggle>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Editorial" *ngIf="getEditorialScenes().length">
      <table mat-table>
        <thead>
        <tr>
          <th>Title</th>
          <th>Comment</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let s of getEditorialScenes()">
          <td>
            <div>{{ s.title }}</div>
          </td>
          <td>
            <div>{{ s.comment }}</div>
          </td>
          <td>
            <button mat-icon-button (click)="openScene(s.id)" title="Open scene">
              <mat-icon>open_in_new</mat-icon>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </mat-tab>
    <mat-tab label="Chapters">
      <table mat-table *ngIf="bookService.model.chapters.length">
        <thead>
        <tr>
          <th>Name</th>
          <th class="color_column">Color</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let chapter of bookService.model.chapters">
          <td>{{ chapter.name }}</td>
          <td class="color_column">
            <div class="color_box" [style.background-color]="uiService.getColorHex(chapter.color)">&nbsp;</div></td>
          <td>
            <button mat-icon-button (click)="editChapter(chapter.id)" title="Edit chapter">
              <mat-icon>settings</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteChapter(chapter.id)" title="Delete chapter">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <h3>Create new chapter</h3>
      <div class="new_item_form">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="chapterName">
        </mat-form-field>
        <button mat-raised-button (click)="createChapter()">Create</button>
      </div>
    </mat-tab>
    <mat-tab label="Characters">
      <table mat-table *ngIf="bookService.model.characters.length">
        <thead>
        <tr>
          <th>Name</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let character of bookService.model.characters">
          <td>
            <div>{{ character.name }}</div>
          </td>
          <td>
            <button mat-icon-button (click)="editCharacter(character.id)" title="Edit character">
              <mat-icon>settings</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteCharacter(character.id)" title="Delete character">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <h3>Create new character</h3>
      <div class="new_item_form">
        <mat-form-field appearance="fill">
          <mat-label>Character name</mat-label>
          <input matInput [(ngModel)]="characterName">
        </mat-form-field>
        <button mat-raised-button (click)="createCharacter()">Create</button>
      </div>
    </mat-tab>
    <mat-tab label="Items">
      <table mat-table *ngIf="bookService.model.items.length">
        <thead>
        <tr>
          <th>Name</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of bookService.model.items">
          <td>
            <div>{{ item.name }}</div>
          </td>
          <td>
            <button mat-icon-button (click)="editItem(item.id)" title="Edit item">
              <mat-icon>settings</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteItem(item.id)" title="Delete item">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <h3>Create new item</h3>
      <div class="new_item_form">
        <mat-form-field appearance="fill">
          <mat-label>Item name</mat-label>
          <input matInput [(ngModel)]="itemName">
        </mat-form-field>
        <button mat-raised-button (click)="createItem()">Create</button>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
