<div id="edit-book-form">
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="bookService.model.title">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Prolog</mat-label>
    <textarea matInput [(ngModel)]="bookService.model.prolog"></textarea>
  </mat-form-field>

  <h2>Editor configuration</h2>
  <div class="configuration_container">
    <mat-slide-toggle [color]="'primary'" [(ngModel)]="bookService.model.mortality" (change)="changePlugin()">
      Mortality
    </mat-slide-toggle>

    <mat-slide-toggle [color]="'primary'" [(ngModel)]="bookService.model.showRegions"
                      *ngIf="bookService.model.regions.length" (change)="changePlugin()">
      Show regions
    </mat-slide-toggle>
  </div>

  <h2>Statistics</h2>
  <div class="stat_container">
    <div class="stat">
      <div class="stat_name">Number of stations:</div>
      <div class="stat_value">{{ bookService.model.stations.length }}</div>
    </div>
    <div class="stat">
      <div class="stat_name">Number of path:</div>
      <div class="stat_value">{{ bookService.model.relations.length }}</div>
    </div>
    <div class="stat">
      <div class="stat_name">Number of items:</div>
      <div class="stat_value">{{ bookService.model.items.length }}</div>
    </div>
  </div>

  <h2>Editorial</h2>
  <table mat-table>
    <thead>
    <tr>
      <th>Title</th>
      <th>Comment</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let s of getEditorialStations()">
      <td>
        <div>{{ s.title }}</div>
      </td>
      <td>
        <div>{{ s.comment }}</div>
      </td>
      <td>
        <button mat-icon-button (click)="openStation(s.id)">
          <mat-icon>open_in_new</mat-icon>
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <h2>Items</h2>
  <table mat-table *ngIf="bookService.model.items.length">
    <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of bookService.model.items">
      <td>
        <div>{{ item.name }}</div>
      </td>
      <td>
        <button mat-icon-button (click)="editItem(item.id)">
          <mat-icon>settings</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteItem(item.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <h3>Create new item</h3>
  <div class="new_item_form">
    <mat-form-field appearance="fill">
      <mat-label>Item name</mat-label>
      <input matInput [(ngModel)]="itemName">
    </mat-form-field>
    <button mat-raised-button (click)="createItem()">Create</button>
  </div>

  <h2>Regions</h2>
  <table mat-table *ngIf="bookService.model.regions.length">
    <thead>
    <tr>
      <th>Name</th>
      <th class="color_column">Color</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let region of bookService.model.regions">
      <td>{{ region.name }}</td>
      <td class="color_column">
        <div class="color_box" [style.background-color]="uiService.getColorHex(region.color)">&nbsp;</div></td>
      <td>
        <button mat-icon-button (click)="editRegion(region.id)">
          <mat-icon>settings</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteRegion(region.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <h3>Create new region</h3>
  <div class="new_item_form">
    <mat-form-field appearance="fill">
      <mat-label>Region name</mat-label>
      <input matInput [(ngModel)]="regionName">
    </mat-form-field>
    <button mat-raised-button (click)="createRegion()">Create</button>
  </div>
</div>
