<h2>
  <mat-icon>text_rotation_angleup</mat-icon>
  <div>Update relation comment</div>
</h2>
<mat-dialog-content class="mat-typography">
  <mat-form-field appearance="fill">
    <mat-label>Comment</mat-label>
    <textarea matInput [(ngModel)]="comment"></textarea>
  </mat-form-field>
  <mat-slide-toggle [color]="'primary'" [(ngModel)]="condition">
    Condition
  </mat-slide-toggle>
  
  <div class="actions">
    <button mat-raised-button color="primary" (click)="update()">Update</button>
    <button mat-raised-button (click)="cancel()">Cancel</button>
  </div>
</mat-dialog-content>
