#edit-scene-form {
  display: flex;
  flex-flow: column nowrap;

  .title_field_container {
    display: flex;

    .scene_index {
      border: 1px solid #dde0f1;
      border-radius: 8px;
      height: 50px;
      width: 50px;
      display: flex;
      align-items: center;
      margin-right: 3px;
      justify-content: center;
      font-weight: bold;
      background: #dde0f1;
      color: #232a4f;
    }

    .mat-form-field {
      width: 100%;
    }
  }

  textarea {
    height: 150px;
    line-height: 20px;
    text-align: justify;
  }

  .children-container, .new-children-container {
    margin-top: 20px;
    display: flex;
    flex-flow: column;

    &.item-container {
      th:last-child, td:last-child, th:nth-child(2), td:nth-child(2) {
        width: 60px;
        text-align: center;
      }
    }

    .macro {
      width: 50px;
    }
  }

  table {
    border-spacing: 0;

    tbody {
      tr:hover {
        background: #e5e9fc;
      }

      tr:nth-child(odd) {
        background: #f2f2f2;
      }
    }

    th, td {
      padding: 0 10px;

      div {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    thead {
      tr {
        background: #dde0f1;
      }
    }

    th {
      text-align: left;
      padding: 5px 10px;
    }

    th:last-child, td:last-child {
      text-align: center;
      width: 130px;
    }

    .condition {
      text-align: center;
      width: 60px;
    }
  }
}

mat-slide-toggle {
  margin: 0 0 18px 18px;
}

.flex--row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  * {
    flex: 1;
    margin-left: 10px;
  }

  *:first-child {
    margin-left: 0;
  }

  button {
    margin-bottom: 20px;
    margin-left: 10px;
  }
}
