mat-form-field {
  width: 100%;

  textarea {
    height: 400px;
    font-size: 12px;
    line-height: 20px;
  }
}

.actions {
  margin-top: 20px;
  padding: 10px 10px;
  text-align: right;

  button {
    margin-left: 10px;
  }
}
