#edit-novel-form {
  display: flex;
  flex-flow: column nowrap;
}

textarea {
  height: 220px;
  line-height: 20px;
  text-align: justify;
}

.configuration_container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.stat_container {
  .stat {
    display: flex;
    margin-bottom: 8px;
    
    .stat_name {
      width: 200px;
      font-weight: bold;
    }
  }
}

h2 {
  margin-top: 20px;
}

table {
  border-spacing: 0;

  tbody {
    tr:hover {
      background: #e5e9fc;
    }
    tr:nth-child(odd) {
      background: #f2f2f2;
    }
  }

  th, td {
    padding: 0 10px;

    div {
      overflow: hidden;
      text-overflow: ellipsis;
      //white-space: nowrap;
    }
  }

  thead {
    tr {
      background: #dde0f1;
    }
  }

  th {
    text-align: left;
    padding: 5px 10px;
  }

  th:last-child, td:last-child {
    text-align: center;
    width: 100px;
  }
}

.new_item_form {
  width: 100%;
  display: flex;
  align-items: center;
  
  .mat-form-field {
    flex: 1;
  }
  
  button {
    margin-bottom: 20px;
    margin-left: 10px;
  }
}