$edge-color: #555;
$text-color: rgba(33, 41, 44, 1);

#visual-novel {
  margin: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  padding: 0;
  font-size: 12px;

  .node-container {
    display: flex;
    cursor: default;

    &.column {
      flex-flow: column;
    }
  }

  .node {
    &.selectable {
      cursor: pointer;
    }

    &.selected {
      rect {
        stroke: #444;
        stroke-width: 2px;
        filter: drop-shadow(0 2px 4px #444);
      }
    }

    &.red {
      rect {
        fill: #f9d9cf;
      }
    }

    &.blue {
      rect {
        fill: #9fd5ff;
      }
    }

    &.green {
      rect {
        fill: #dff8ca;
      }
    }

    &.endpoint {
      rect {
        stroke-dasharray: 2,5;
        stroke: #888;
      }
    }

    &.starter {
      rect {
        stroke-width: 4px;
        stroke-dasharray: none;
        stroke: #444;
      }
    }

    rect {
      stroke: #fff;
      stroke-width: 2px;
      fill: rgb(255, 255, 255, 1);
      filter: drop-shadow(0 2px 4px #bbb);
    }
  }

  .edgePath path {
    stroke: $edge-color;
    fill: $edge-color;
    stroke-width: 1px;
  }

  .edgeLabel text {
    font-size: 0.7rem;
    fill: $edge-color;
  }

  .title {
    width: 200px;
    font-weight: bold;
    color: $text-color;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    .material-symbols-outlined {
      font-size: 16px;
      color: #c85353;
      margin-right: 5px;

      &.warning {
        color: #eeb700;
      }
    }
  }
}
