<h2>
  <mat-icon>menu_book</mat-icon>
  <div>{{ this.book.title }}</div>
</h2>
<mat-dialog-content class="mat-typography">
  <div class="chapter">
    <pre class="chapter_content" [innerHtml]="book.backgroundStory"></pre>
  </div>
  <div class="chapter" *ngFor="let s of book.stations; let i = index">
    <div class="chapter_index" id="chapter_{{s.index}}">{{ s.index }}.</div>
    <pre class="chapter_content" [innerHtml]="s.story"></pre>
    <div class="comment" *ngIf="s.comment">{{ s.comment }}</div>
    <div class="questionnaire" *ngIf="s.questionnaire"> + QUESTIONNAIRE</div>
  </div>
</mat-dialog-content>
