#edit-station-form {
  display: flex;
  flex-flow: column nowrap;

  textarea {
    height: 150px;
    line-height: 20px;
    text-align: justify;
  }

  .children-container, .new-children-container {
    margin-top: 20px;
    display: flex;
    flex-flow: column;
  }

  table {
    border-spacing: 0;

    tbody {
      tr:hover {
        background: #e5e9fc;
      }
      tr:nth-child(2) {
        background: #f2f2f2;
      }
    }

    th, td {
      padding: 0 10px;

      div {
        overflow: hidden;
        text-overflow: ellipsis;
        //white-space: nowrap;
      }
    }

    thead {
      tr {
        background: #dde0f1;
      }
    }

    th {
      text-align: left;
      padding: 5px 10px;
    }

    th:last-child, td:last-child {
      text-align: center;
      width: 100px;
    }
  }
}
