<div id="edit-station-form" *ngIf="station">
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="station.title" (change)="checkUnsaved()">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Story</mat-label>
    <textarea matInput [(ngModel)]="station.story" (change)="checkUnsaved()"></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Editorial comment</mat-label>
    <input matInput [(ngModel)]="station.comment" (change)="checkUnsaved()">
  </mat-form-field>

  <div class="flex--row">
    <mat-form-field appearance="fill">
      <mat-label>Life</mat-label>
      <mat-select [(ngModel)]="station.life" (selectionChange)="checkUnsaved()">
        <mat-option *ngFor="let lf of [-3,-2,-1,0,1,2,3]" [value]="lf">
          {{lf}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Color</mat-label>
      <mat-select [(ngModel)]="station.color" (selectionChange)="checkUnsaved()">
        <mat-option *ngFor="let c of colors" [value]="c.value">
          {{c.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  
  <mat-slide-toggle [color]="'primary'" [(ngModel)]="station.starter" (change)="checkUnsaved()">
    First station
  </mat-slide-toggle>

  <div class="actions-bar">
    <button mat-raised-button *ngIf="createNew" (click)="create()">Create</button>
    <button mat-raised-button *ngIf="!createNew" (click)="update()">Update</button>
    <button mat-raised-button *ngIf="!createNew" (click)="delete()">Delete</button>
  </div>

  <div class="children-container" *ngIf="!createNew && children.length">
    <h2>Routes</h2>
    <table mat-table>
      <thead>
      <tr>
        <th>Macro</th>
        <th>Title</th>
        <th>Comment</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let s of children; let i = index">
        <td><div>##{{ i + 1 }}</div></td>
        <td><div>{{ s.title }}</div></td>
        <td><div>{{ getRelationComment(s.id) }}</div></td>
        <td>
          <button mat-icon-button color="primary" (click)="viewStation(s)">
            <mat-icon>open_in_new</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteRelation(s.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="new-children-container" *ngIf="!createNew && stations.length">
    <h2>Set new route</h2>
    <div class="flex--row">
    
      <mat-form-field appearance="fill">
        <mat-label>Destination</mat-label>
        <input type="text" matInput [formControl]="myDestinationControl" [matAutocomplete]="auto" #destinationInput>
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let s of filteredDestinationOptions | async" [value]="s.title">
            {{s.title}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Comment</mat-label>
        <input matInput #commentInput>
      </mat-form-field>
    </div>
    <button mat-raised-button (click)="createRelation(destinationInput, commentInput)">Set</button>
  </div>
</div>
