<div id="edit-station-form" *ngIf="station">
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <textarea matInput [(ngModel)]="station.title"></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Story</mat-label>
    <textarea matInput [(ngModel)]="station.story"></textarea>
  </mat-form-field>

  <mat-slide-toggle [color]="'primary'" [checked]="station.exit">
    Exit
  </mat-slide-toggle>

  <div class="actions-bar">
    <button mat-raised-button *ngIf="createNew" (click)="create()">Create</button>
    <button mat-raised-button *ngIf="!createNew" (click)="update()">Update</button>
    <button mat-raised-button *ngIf="!createNew" (click)="delete()">Delete</button>
  </div>

  <div class="children-container" *ngIf="!createNew && children.length">
    <h2>Routes</h2>
    <table mat-table>
      <tr>
        <th>Title</th>
        <th>Action</th>
      </tr>
      <tbody>
      <tr *ngFor="let s of children; let i = index">
        <td>{{ s.title }}</td>
        <td>
          <button mat-icon-button color="primary" (click)="viewStation(s)">
            <mat-icon>open_in_new</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteRelation(s.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="new-children-container" *ngIf="!createNew && stations.length">
    <h2>Set new route</h2>
    <mat-form-field appearance="fill">
      <mat-label>Destination</mat-label>
      <mat-select #stationInput>
        <mat-option *ngFor="let s of stations" [value]="s.id">
          {{s.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Comment</mat-label>
      <input matInput #commentInput>
    </mat-form-field>
    <button mat-raised-button (click)="createRelation(stationInput.value, commentInput.value)">
      Create</button>
  </div>
</div>
