#edit-station-form {
  display: flex;
  flex-flow: column nowrap;

  textarea {
    height: 150px;
    line-height: 20px;
    text-align: justify;
  }

  .children-container, .new-children-container {
    margin-top: 20px;
    display: flex;
    flex-flow: column;
    
    &.item-container {
      th:last-child, td:last-child, th:nth-child(2), td:nth-child(2) {
        width: 60px;
        text-align: center;
      }
    }

    .macro {
      width: 50px;
    }
  }

  table {
    border-spacing: 0;

    tbody {
      tr:hover {
        background: #e5e9fc;
      }
      tr:nth-child(odd) {
        background: #f2f2f2;
      }
    }

    th, td {
      padding: 0 10px;

      div {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    thead {
      tr {
        background: #dde0f1;
      }
    }

    th {
      text-align: left;
      padding: 5px 10px;
    }

    th:last-child, td:last-child {
      text-align: center;
      width: 130px;
    }
  }
}

.flex--row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  
  * {
    flex: 1;
  }

  *:first-child {
    margin-right: 10px;
  }
  
  button {
    margin-bottom: 20px;
    margin-left: 10px;
  }
}