.dialog-content {
  overflow-y: auto;
  height: 50vh;
}

.mat-form-field {
  width: 100%;
}

h2 {
  &.smaller {
    font-size: 18px;
    margin-top: 20px;
  }
}

.actions {
  margin-top: 20px;
  padding: 10px 10px;
  text-align: right;

  button {
    margin-left: 10px;
  }
}

.simulation-container {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  margin-top: 10px;

  .scene-arrow {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;

    .scene {
      border: 2px solid #d8d8d8;
      padding: 10px;
      border-radius: 10px;
      width: 100px;
      background: #23a0a6;

      .scene-title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
        font-weight: 500;
        font-size: 10px;
      }

      &.intens0, &.intens1 {
        background: #ffffff;
      }

      &.intens2 {
        background: #aad9e9;
      }

      &.intens3 {
        background: #5fa0b6;
      }

      &.intens4 {
        background: #f87f9b;
      }

      &.zeroLife {
        background: #ffe4e4;
      }
    }

    .scene, .mat-icon {
      margin-right: 10px;
      margin-bottom: 10px;
    }

    .life {
      font-size: 10px;
      text-align: center;
    }
  }
}

.simulation-info {
  margin: 10px 2px 40px 0;
  font-weight: bold;
  line-height: 25px;

  label {
    font-weight: normal;
  }
}
