<div id="main-container">
  <div class="main-header">
    <h1 *ngIf="!isModelLoaded()">Adventure Novel Designer</h1>
    <h1 *ngIf="isModelLoaded()">{{ novelService.model.title }}</h1>
    <div class="main-actions">
      <button mat-icon-button (click)="createNew()" *ngIf="isModelLoaded()" title="Create new station">
        <mat-icon>create_new_folder</mat-icon>
      </button>
      <button mat-icon-button (click)="download()" *ngIf="isModelLoaded()" title="Get raw novel">
        <mat-icon>download</mat-icon>
      </button>
      <button mat-icon-button (click)="finalize()" *ngIf="isModelLoaded()" title="Get final novel">
        <mat-icon>menu_book</mat-icon>
      </button>
      <button mat-icon-button (click)="openNovel()" title="Load raw novel">
        <mat-icon>file_open</mat-icon>
      </button>
    </div>
  </div>

  <div id="main">
    <div id="left">

      <app-novel-form *ngIf="isModelLoaded() && !station"></app-novel-form>

      <app-station-form *ngIf="station" [station]="station" [trigger]="formTrigger"
                        (stationChanged)="openStation($event)">
      </app-station-form>

      <div id="load-model-form" *ngIf="!isModelLoaded()">
        <mat-form-field appearance="fill">
          <mat-label>Load model</mat-label>
          <textarea matInput [(ngModel)]="modelString"></textarea>
        </mat-form-field>
        <div class="actions-bar">
          <button mat-raised-button (click)="load()">Load</button>
        </div>
      </div>
    </div>

    <div id="right">
      <div id="visual-novel-container" *ngIf="visualModel">
        <app-visual-novel [nodes]="visualModel.nodes" [edges]="visualModel.edges" [trigger]="formTrigger+''"
                          [selected]="(station ? 'node_' + station.id : '')"
                          (nodeSelected)="openStation($event)" #visualizer>
        </app-visual-novel>
        <div class="buttonGroup">
          <button mat-raised-button (click)="visualizer.zoom(0)">Fit</button>
          <button mat-raised-button (click)="visualizer.zoom(0.5)"> 50%</button>
          <button mat-raised-button (click)="visualizer.zoom()"> 100%</button>
          <button mat-raised-button (click)="visualizer.zoom(2)"> 200%</button>
        </div>
      </div>
    </div>
  </div>
</div>




