<div id="main-container">
  <h1>Adventure Novel Designer</h1>
  <div id="main">
    <div id="left">

      <app-station-form *ngIf="station" [station]="station" [trigger]="formTrigger"
                        (stationChanged)="openStation($event)">
      </app-station-form>

      <div id="load-model-form" *ngIf="!isModelLoaded()">
        <mat-form-field appearance="fill">
          <mat-label>Load model</mat-label>
          <textarea matInput [(ngModel)]="modelString"></textarea>
        </mat-form-field>
        <div class="actions-bar">
          <button mat-raised-button (click)="load()">Load</button>
        </div>
      </div>

    </div>
    <div id="right">

      <div id="visual-novel-container" *ngIf="visualModel">
        <app-visual-novel [nodes]="visualModel.nodes" [edges]="visualModel.edges" [trigger]="formTrigger+''"
                          (nodeSelected)="openStation($event)" #visualizer>
        </app-visual-novel>

        <div class="buttonGroup">
          <button mat-raised-button (click)="visualizer.zoom(0)">Fit</button>
          <button mat-raised-button (click)="visualizer.zoom(0.5)"> 50%</button>
          <button mat-raised-button (click)="visualizer.zoom()"> 100%</button>
          <button mat-raised-button (click)="visualizer.zoom(2)"> 200%</button>
        </div>
      </div>
    </div>
  </div>
</div>




