<h2>
  <mat-icon>face</mat-icon>
  <div>Update character</div>
</h2>
<mat-dialog-content class="mat-typography">
  <div class="fields">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="name">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput [(ngModel)]="description"></textarea>
    </mat-form-field>
  </div>
  <div class="actions">
    <button mat-raised-button color="primary" (click)="update()">Update</button>
    <button mat-raised-button (click)="cancel()">Cancel</button>
  </div>
</mat-dialog-content>
