h2 {
  display: flex;
  align-items: center;

  div {
    margin-left: 10px;
  }
}

.comment {
  background: #f4f4a7;
  padding: 5px 10px;
  font-weight: bold;
  width: fit-content;
  font-size: 12px;
  letter-spacing: 1.5px;
}
