<h2>
  <mat-icon>tag</mat-icon>
  <div>Index editor</div>
</h2>
<mat-dialog-content class="mat-typography">

  <div class="index_diagram" *ngIf="pcSelected">
    <div *ngFor="let rd of relationsDistancesPC" class="index_column" (click)="openStation(rd.s)"
         [style.height]="rd.h + '%'"
         [title]="rd.sn + '. ' + rd.st + '&#013;-------&#013;' + rd.tn + '. ' + rd.tt + '&#013;-------&#013;' + rd.d">
      {{ rd.d }}
    </div>
  </div>

  <div class="index_diagram siblings" *ngIf="!pcSelected">
    <div *ngFor="let rd of relationsDistancesSS" class="index_column" (click)="openStation(rd.s)"
         [style.height]="rd.h + '%'"
         [title]="rd.sn + '. ' + rd.st + '&#013;-------&#013;' + rd.tn + '. ' + rd.tt + '&#013;-------&#013;' + rd.d">
      {{ rd.d }}
    </div>
  </div>

  <mat-tab-group>
    <mat-tab label="Overall information">
      <div class="flex">
        <div class="statistics_container">
          <h3>General</h3>
          <div class="statistics">
            Number of indexes: {{ bookService.model.stations.length }}<br/>
            <ng-container *ngIf="lastGeneration">Last generation: {{ lastGeneration }}</ng-container>
          </div>
        </div>
        <div class="statistics_container" (click)="togglePCSelected()">
          <h3>
            <span class="material-symbols-outlined material-outlined" [class.material-filled]="pcSelected">arrow_circle_right</span>
            Parent-child distance
          </h3>
          <div class="statistics">
            Maximum: {{ maximumPC }}<br/>
            Minimum: {{ minimumPC }}<br/>
            Total: {{ totalPC }}<br/>
            Average: {{ averagePC }}
          </div>
        </div>
        <div class="statistics_container" (click)="togglePCSelected()">
          <h3>
            <span class="material-symbols-outlined material-outlined" [class.material-filled]="!pcSelected">arrow_circle_right</span>
            Siblings distance
          </h3>
          <div class="statistics">
            Maximum: {{ maximumSS }}<br/>
            Minimum: {{ minimumSS }}<br/>
            Total: {{ totalSS }}<br/>
            Average: {{ averageSS }}
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Generation">
      <div class="flex">
        <div class="statistics_container">
          <h3>Numbering offset</h3>
          <mat-form-field appearance="fill">
            <mat-label>Offset</mat-label>
            <input type="number" matInput [(ngModel)]="bookService.model.numberingOffset" [min]="0">
          </mat-form-field>
        </div>
        <div class="statistics_container">
          <h3>Distance validation</h3>
          <mat-slide-toggle [color]="'primary'" [(ngModel)]="bookService.model.validationPC">
            Parent-child
          </mat-slide-toggle>
          <br/>
          <mat-slide-toggle [color]="'primary'" [(ngModel)]="bookService.model.validationSS">
            Siblings
          </mat-slide-toggle>
        </div>
        <div class="statistics_container">
          <h3>Parent-child min distance</h3>
          <mat-form-field appearance="fill">
            <mat-label>Parent-child min distance</mat-label>
            <input type="number" matInput [(ngModel)]="bookService.model.validationPCD">
          </mat-form-field>
        </div>
        <div class="statistics_container">
          <h3>Siblings min distance</h3>
          <mat-form-field appearance="fill">
            <mat-label>Siblings min distance</mat-label>
            <input type="number" matInput [(ngModel)]="bookService.model.validationSSD">
          </mat-form-field>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Fine tune">
      <div class="flex">
        <div class="statistics_container">
          <h3>Method</h3>
          <mat-form-field appearance="fill">
            <mat-select [(ngModel)]="fineTuneMethod">
              <mat-option [value]="0">Insert</mat-option>
              <mat-option [value]="1">Switch</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="statistics_container">
          <h3>Station</h3>
          <mat-form-field appearance="fill">
            <input type="text" matInput [formControl]="stationControl" [matAutocomplete]="auto" #stationInput>
            <mat-label>Select station</mat-label>
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let s of filteredStationControlOptions | async" [value]="s.index + '. ' + s.title">
                {{s.index}}. {{s.title}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="statistics_container">
          <h3>Index</h3>
          <mat-form-field appearance="fill">
            <input type="number" matInput [(ngModel)]="fineTuneIndex" [min]="(bookService.model.numberingOffset + 2)">
          </mat-form-field>
        </div>
        <div class="statistics_container">
          <h3>Update index</h3>
          <button mat-raised-button [color]="'primary'" (click)="changeIndex(stationInput)">Update</button>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
  <div class="actions">
    <button mat-raised-button [color]="'primary'" (click)="generate()">Generate</button>
    <button mat-raised-button (click)="close()">Close</button>
  </div>
</mat-dialog-content>
