.mat-tab-group {
  height: 215px;
}

.index_diagram {
  display: flex;
  height: 250px;
  align-items: end;
  border: 1px solid #efefef;
  padding: 5px;
  background: linear-gradient(180deg, #e7e7e7, transparent);

  .index_column {
    flex: 1;
    background: #2d4552;
    color: #fff;
    font-size: 7px;
    text-align: center;
    cursor: pointer;
    opacity: 0.7;
    transition: all 150ms;
    border-radius: 2px;
  }
  .index_column:nth-child(2n) {
    background: #4f9a8f;
  }
  .index_column:nth-child(3n) {
    background: #e4c477;
  }
  .index_column:nth-child(4n) {
    background: #e9a56c;
  }
  .index_column:nth-child(5n) {
    background: #d87659;
  }
  .index_column:hover {
    opacity: 1;
    border: 2px solid #fff;
    background: black;
    flex: 3;
  }
}

.flex {
  display: flex;
}

.statistics_container {
    margin-right: 50px;
    min-height: 160px;

    h3 {
      display: flex;
      border-bottom: 1px dotted #cfcfcf;
      margin-bottom: 10px;
      width: 230px;
      cursor: pointer;

      .material-outlined {
        margin-right: 5px;
        font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 30;

        &.material-filled {
            font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 30;
        }
      }
    }

    .statistics {
      line-height: 24px;
      font-style: italic;
    }

    .mat-form-field, .mat-slide-toggle {
      margin-bottom: 10px;
      width: 100%;
    }

   .switch_buttons {
     width: 150px;
     margin-bottom: 15px;
   }
}

.actions {
  margin-top: 20px;
  padding: 10px 10px;
  text-align: right;

  button {
    margin-left: 10px;
  }
}
