html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button {
  width: fit-content;
}

.actions-bar {
  margin-top: 20px;
  padding: 10px 10px;
  background: #989cb4;
  text-align: right;

  button {
    margin-left: 10px;
  }
}

.mat-dialog-container {
  width: 700px !important;
}
